.body {
    overflow-x: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    overflow: hidden;
}

.header img {
    flex-basis: 40%;
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.post-category-title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 0;
    text-transform: capitalize;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    padding-left: 50px;
    color: black;
}

.post-text-group {
    display: inline-block;
    padding-left: 10px;
}

.post-container {
    padding: 0 10vh;
    display: grid;
    scroll-behavior: smooth;
    grid-template-columns: repeat(4, 1fr);
}

.post-container::-webkit-scrollbar {
    display: none;
}

.post-card {
    flex: 0 0 auto;
    width: 330px;
    height: 320px;
    margin-right: 120px;
    margin-bottom: 20px;
}

.post-image {
    position: relative;
    width: 100%;
    height: 210px;
    overflow: hidden;
}

.post-like {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 3/2;
    border-radius: 5px;
}

.category-tag {
    position: absolute;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #36b8e1;
    right: 10px;
    top: 10px;
}

.post-card:hover .category-tag {
    transition: 0.5;
    opacity: 0;
}

.btn-like {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background-color: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
    border-radius: 5px;
    font-weight: bold;
}

.btn-like-2 {
    position: absolute;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #36b8e1;
    left: 10px;
    top: 10px;
    opacity: 0;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.post-card:hover .btn-like {
    opacity: 1;
}

.post-card:hover .btn-like-2 {
    opacity: 1;
}

.post-card:hover {
    /* box-shadow: 0px 1px 1px 2px #63696C; */
    border-radius: 10px;
    background-color: #b0e6f8;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.19);
}

.btn-like:hover {
    background-color: #36b8e1;
    color: #fff;
}

.btn-like-2:hover {
    background-color: #36b8e1;
    color: #fff;
}

.post-info {
    width: 100%;
    height: 100%;
    padding-top: 5px;
    padding-left: 10px;
}

/* .post-title {
    text-transform: uppercase;
} */

.post-user {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.8;
    text-transform: capitalize;
    margin: 5px 0;
}

@media only screen and (max-width: 900px) {
    .header {
        margin: 50px 0;
        width: 100%;
        height: auto;
    }

    .post-category-title {
        left: 25x;
        padding: 0;
    }
}

@media only screen and (max-width: 1500px) {
    .post-container {
        padding: 0 10vh;
        display: grid;
        scroll-behavior: smooth;
        grid-template-columns: repeat(3, 2fr);
    }
}

@media only screen and (max-width: 900px) {
    .post-container {
        padding: 0 10vh;
        display: block;
        scroll-behavior: smooth;
    }

    .post-card {
        margin-bottom: 40px;
        width: 480px;

        margin-left: 100px;
    }
}

@media only screen and (max-width: 700px) {
    .post-container {
        padding: 0 10vh;
        display: block;
        scroll-behavior: smooth;
    }

    .post-card {
        flex: 0 0 auto;
        margin-bottom: 100px;
    }
}
