.detail-post-container {
    padding: 2rem;
}

.slider-wrapper {
    position: relative;
    max-width: 70%;
    margin: 0 auto 10px;
    background-color: #63696c;
    overflow: visible;
}

.slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow-x: hidden;
    position: relative;
    z-index: 1;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 1.5rem;
    z-index: 2;
    transition: opacity 0.5s ease;
}

.slider-arrow:hover {
    opacity: 0.7;
}

.card-link {
    text-decoration: none;
    font-weight: bold;
    color: #000000;
}

.slider-arrow.slider-prev {
    left: -30px;
}

.slider-arrow.slider-next {
    right: -30px;
}

.detail-post-body {
    width: 50%;
}

.slider-nav a {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

.post-warning{
    color: red;
    text-decoration: none;
    font-weight: bold;
}

.post-warning-li{
    cursor: pointer;
}


.detail-post-info {
    width: 100%;
    height: 100%;
    padding-top: 5px;
    padding-left: 10px;
    width: 1920px;
    max-width: 90%;
    overflow: auto;
    margin: 100px auto 50px;
    display: flex;
    align-items: center;
}

.detail-post-text-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
}

.detail-post-main {
    /* ... Existing styles ... */
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 10px;
}

.detail-post-title,
.detail-post-user {
    margin: 0; /* Reset margin to remove any default spacing */
}

.detail-post-link {
    margin-top: 10px;
}

.detail-post-username {
    margin-left: 10px;
}

.detail-post-like-group {
    display: inline-block;
    position: absolute;
    right: 15%;
}

.detail-post-like-group img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.detail-post-more-by {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    width: 1920px;
    max-width: 90%;
    overflow: auto;
    margin: 0 auto 50px;
    padding-bottom: 50px;
}



.detail-post-like {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 3/2;
    border-radius: 5px;
}



.btn-like-2 {
    position: absolute;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #36b8e1;
    left: 10px;
    top: 10px;
    opacity: 0;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.btn-like {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background-color: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
    border-radius: 5px;
}

.detail-post-image:hover .btn-like {
    opacity: 1;
}

.detail-post-image:hover .btn-like-2 {
    opacity: 1;
}

.detail-post-image:hover {
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.19);
}

.btn-like:hover {
    background-color: #36b8e1;
    color: #fff;
}

.btn-like-2:hover {
    background-color: #36b8e1;
    color: #fff;
}

.detail-post-card {
    background-color: #63696c;
}

.post-like-b {
    width: 71px;
    height: 71px;
    object-fit: cover;
    aspect-ratio: 3/2;
    border-radius: 50%;
}

.post-text-group {
    display: inline-block;
    padding-left: 10px;
}

/* ... Like button ... */

.like-button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 5px;
}

.like-button-1,
.like-button-2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40px; /* Adjust the width to your desired size */
    height: 40px; /* Adjust the height to your desired size */
}

.like-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail-post-like-list {
    text-align: center;
}

/* ... Embed youtube teaser/demo ... */

.post-embed {
    display:inline-flex;
    margin-top: 10px;
    margin-left: 100px;
}

.youtube-demo-embed,
.youtube-teaser-embed {
    width: 100%;
    aspect-ratio: 16/9;
    margin-left: 20px;
 
}

.embed-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* commment section */

.comment-section {
    margin-top: 30px;
}

.comment-list {
    margin-top: 15px;
}

.comment {
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.user-profile {
    display: flex;
    align-items: center;
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.username {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.comment-text {
    margin: 5px 0;
    font-size: 14px;
    white-space: pre-line;
}

.comment-form {
    margin-top: 30px;
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.post-comment-button {
    background-color: #eda95a;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.comment-actions {
    margin-top: 10px;
}

.comment-action-btn {
    background-color: #eda95a;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}


/* Related post for the same user */
.post-container {
    padding: 0 5vh;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.post-container::-webkit-scrollbar {
    display: none;
}

#post-list {
    width: 1920px;
    max-width: 85%;
    overflow: auto;
    margin: 100px auto 50px;
    scroll-behavior: smooth;
    scroll-snap-type: both;
}

#post-list::-webkit-scrollbar {
    display: none;
}

#list {
    display: flex;
    width: max-content;
}

.post-card {
    flex: 0 0 auto;
    width: 480px;
    height: 320px;
    margin-right: 90px;
    scroll-snap-align: start;
    overflow: hidden;
    transition: 0.5s;
}

.post-card:hover .category-tag {
    transition: 0.5;
    opacity: 0;
}

.post-card:hover .btn-like {
    opacity: 1;
}

.post-card:hover .btn-like-2 {
    opacity: 1;
}

.post-card:hover {
    border-radius: 10px;
    background: #b0e6f8;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.19);
}

.post-image {
    position: relative;
    width: 100%;
    height: 210px;
    overflow: hidden;
}

.category-tag {
    position: absolute;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #36b8e1;
    right: 10px;
    top: 10px;
}

.post-like {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 3/2;
    border-radius: 5px;
}

.post-info {
    width: 100%;
    height: 100%;
    padding-top: 5px;
    padding-left: 10px;
}

.post-user {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.8;
    text-transform: capitalize;
    margin: 5px 0;
}

.post-section {
    position: relative;
    padding: 20px;
}

.post-category-title {
    padding: 0 10vh;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
    text-decoration: none;
    color: #000000;
}

.btn-prev,
.btn-next {
    border: none;
    width: 1vw;
    height: 10%;
    position: absolute;
    top: 45.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    cursor: pointer;
    z-index: 9;
    aspect-ratio: 2/3;
}

.btn-prev {
    left: 10px;
    transform: rotate(180deg);
    left: 2.5%;
}

.btn-next {
    right: 3.5%;
}

.btn-prev img,
.btn-next img {
    opacity: 0.8;
}

.btn-prev:hover img,
.btn-next:hover img {
    opacity: 1;
}



/* Responsive for main */
@media screen and (max-width: 700px) {
    .comment-form {
        width: 100%;
    }

    .comment-actions {
        display: inline;
        flex-wrap: wrap;
    }

    .comment-action-btn {
        flex: 0 0 100%;
        margin-top: 5px;
    }
}


@media screen and (max-width: 700px) {
    .post-embed {
        flex-direction: column;
        margin-left: 0px;
    }

    .youtube-demo-embed,
    .youtube-teaser-embed {
        width: 100%;
    
    }

    .frame-embed{
        width: 125%;
        
    }
}



@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) and (orientation: landscape) {
   

   
}

@media only screen and (max-width: 900px) {
    .header {
        margin: 50px 0;
        width: 100%;
        height: auto;
    }

    .post-category-title {
        left: 25px;
        padding: 0;
    }

    .slider-wrapper {
        position: relative;
        max-width: 100%;
        margin: 0 auto 10px;
        background-color: #63696c;
        overflow: visible;
    }
    
    .slider {
        display: flex;
        aspect-ratio: 16/9;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        overflow-x: hidden;
        position: relative;
        z-index: 1;
    }
    
    .slider img {
        flex: 1 0 100%;
        scroll-snap-align: start;
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
    
    .slider-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: none;
        border: none;
        cursor: pointer;
        color: #63696c;
        font-size: 1.5rem;
        z-index: 2;
        transition: opacity 0.5s ease;
    }

    .detail-post-body{
        width: 100%;
    }
}

@media only screen and (max-width: 1500px) {
 
}

@media only screen and (max-width: 900px) {
   

   
}

@media only screen and (max-width: 700px) {
  
}

/* Import responsive from Home Slider */
@media only screen and (max-width: 1280px) {
    .post-container {
        grid-template-columns: repeat(auto-fit, minmax(2, 1fr));
        padding: none;
    }

    .post-card {
        width: 250px;
        height: auto;
        margin-right: 50px;
        margin-bottom: 75px;
    }
}



@media only screen and (max-width: 992px) {
    .post-container {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }
}

@media only screen and (max-width: 768px) {
    .post-container {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
}

@media only screen and (max-width: 576px) {
    .post-container {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
}



