/* Default styles */

.body {
    overflow-x: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    overflow: hidden;
    height: 600px;
}

.header img {
    flex-basis: 40%;
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
}

.post-like-b {
    width: 60px;
    height: 60px;
    object-fit: cover;
    aspect-ratio: 3/2;
    border-radius: 50%;
}

.post-category-title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 0;
    text-transform: capitalize;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    padding-left: 50px;
    color: rgb(0, 0, 0);
    appearance: none;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px;
    padding-right: 20px;
    background-image: url("https://cdn.jsdelivr.net/npm/boxicons@latest/icons/solid/chevron-down.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right center;
    margin-left: 50px;
    margin-top: 30px;
}

.post-text-group {
    display: inline-block;
    padding-left: 10px;
}

.post-container {
    padding: 0 10vh;
    display: grid;
    scroll-behavior: smooth;
    grid-template-columns: repeat(4, 1fr);
}

.post-container::-webkit-scrollbar {
    display: none;
}

.post-card {
    flex: 0 0 auto;
    width: 330px;
    height: 320px;
    margin-right: 120px;
    margin-bottom: 20px;
}

.post-image {
    position: relative;
    width: 100%;
    height: 210px;
    overflow: hidden;
}

.post-like {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 3/2;
    border-radius: 5px;
}

.category-tag {
    position: absolute;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #36b8e1;
    right: 10px;
    top: 10px;
}

.post-card:hover .category-tag {
    transition: 0.5s;
    opacity: 0;
}

.btn-like {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background-color: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
    border-radius: 5px;
    font-weight: bold;
}

.btn-like-2 {
    position: absolute;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #36b8e1;
    left: 10px;
    top: 10px;
    opacity: 0;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.post-card:hover .btn-like {
    opacity: 1;
}

.post-card:hover .btn-like-2 {
    opacity: 1;
}

.post-card:hover {
    border-radius: 10px;
    background-color: #b0e6f8;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.19);
}

.btn-like:hover {
    background-color: #36b8e1;
    color: #fff;
}

.btn-like-2:hover {
    background-color: #36b8e1;
    color: #fff;
}

.post-info {
    width: 100%;
    height: 100%;
    padding-top: 5px;
    padding-left: 10px;
}

.post-user {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.8;
    text-transform: capitalize;
    margin: 5px 0;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-form {
    display: flex;
    align-items: center;
}

.search-form input[type="text"] {
    padding: 8px;
    border-radius: 4px;
    border: none;
    outline: none;
}

.search-form button {
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    outline: none;
    background-color: #36b8e1;
    color: #fff;
    cursor: pointer;
    margin-left: 8px;
}

.search-form button:hover {
    background-color: #8ce0fb;
}

/* Media screen styles */

@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) and (orientation: landscape) {
    .post-container {
        display: grid;
        scroll-behavior: smooth;
        grid-template-columns: repeat(3, 1fr);
    }

    .post-card {
        margin-right: 100px;
        margin-bottom: 40px;
        width: 300px;
    }
}

@media only screen and (max-width: 900px) {
    .header img {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .post-category-title {
        left: 25px;
        padding: 0;
    }
}

@media only screen and (max-width: 1500px) {
    .post-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 900px) {
    .post-container {
        display: block;
        scroll-behavior: smooth;
        padding: 0 10vh;
    }

    .post-card {
        margin-right: 0;
        margin-bottom: 40px;
        width: 100%;
    }
}

@media only screen and (max-width: 700px) {
    .post-card {
        margin-bottom: 100px;
    }

    @media only screen and (max-width: 768px) {
        .post-container {
            grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
            padding: 0 0.5vh;
        }

        .content-3 {
            margin-top: 0;
            margin-left: 0;
        }

        .post-card {
            flex: 0 0 auto;
            width: 480px;
            height: 320px;
            margin-right: 120px;
            margin-bottom: 90px;
        }
    }
}

@media only screen and (max-width: 1080px) {
    .post-container{
        grid-template-columns: repeat(2, 1fr);
        padding: 0 0.5vh;
    }

    .post-card {
        width: 380px;
        margin-right: 0;
        margin-left: 43.3px;
    }

}

@media only screen and (max-width: 720px) {
    .post-container{
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        padding: none;
    }

    .post-card{
        flex: 0 0 auto;
        width: 480px;
        height: 320px;
        margin-right: 120px;
        margin-bottom: 90px;
        margin-left: 0px;
    }
}
